form {
    width: 250px;
    margin: 0 auto;
    margin-left: absolute;
    /* margin-right: 100px; */
    margin-top: px;
    padding-top: 20px;
    font-family: cursive;
    /* padding-right: 80px; */
    /* padding-left: 10px; */
    height: 600px;
}
body
{
	background-image: url('https://ununsplash.imgix.net/photo-1417021423914-070979c8eb34?q=75&fm=jpg&s=55746bd56e02a131b1e48c12196ea866');
opacity:1.0;
font-family:cursive;
}

.icon-addon {
    position: relative;
    color: #555;
    display: block;
}

.icon-addon:after,
.icon-addon:before {
    display: table;
    content: " ";
}

.icon-addon:after {
    clear: both;
}

.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon, 
.icon-addon.addon-md .fa,
.icon-addon .fa {
    position: absolute;
    z-index: 2;
    left: 10px;
    font-size: 14px;
    width: 20px;
    margin-left: -2.5px;
    text-align: center;
    padding: 10px 0;
    top: 1px
}

.icon-addon.addon-lg .form-control {
    line-height: 1.33;
    height: 46px;
    font-size: 18px;
    padding: 10px 16px 10px 40px;
	font-family:cursive;
}

.icon-addon.addon-sm .form-control {
    height: 30px;
    padding: 5px 10px 5px 28px;
    font-size: 12px;
    line-height: 1.5;
}

.icon-addon.addon-lg .fa,
.icon-addon.addon-lg .glyphicon {
    font-size: 18px;
    margin-left: 0;
    left: 11px;
    top: 4px;
}

.icon-addon.addon-md .form-control,
.icon-addon .form-control {
    padding-left: 30px;
    float: left;
    font-weight: normal;
}

.icon-addon.addon-sm .fa,
.icon-addon.addon-sm .glyphicon {
    margin-left: 0;
    font-size: 12px;
    left: 5px;
    top: -1px
}

.icon-addon .form-control:focus + .glyphicon,
.icon-addon:hover .glyphicon,
.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa {
    color: #2580db;
}


modal
{
	width:400px;
}
.modal-body {
    position: relative;
    padding: 15px;
    width: 600px;
    height: 800px;
}
.signup-form
{
	width: 250px;
    height: 1200px;
    margin: 0 auto;
    margin-left: absolute;
    /* margin-right: 100px; */
    margin-top: px;
    padding-top: 80px;
	font-family:cursive;
    /* padding-right: 80px; */
    /* padding-left: 10px; */
	
}